{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify;">
        Hi I am Ayushi. I am Computer Science Engineer. I am very passionate about my work and very determined towards
        my dream,and I believe along with the dream one should also pursue their hobbies in life,
        because hobbies are the one which helps us to live a joyful life.And it also helps us to maintain a good spirit between mind,body and soul.
        So I think everyone should encalaculate their interest in various things apart from work...
        my interest lies in travelling to the new adventurous places,exploring myself So I had decided
        to create one blog to share amazing experiences of my life.

        <br><br><br>
        Like me,If You also want to develop your Own blog then drop one mail on this 
        email-id:<a style="color: blue;">amazingayushi@gmail.com</a>
      </div>
    </div>
  </div>

  

  {% endblock %}